*{
    font-family: 'Raleway', sans-serif;
}


img {
    width: 10%;
    height: 10%;
    margin: 65px;
}


canvas{
        display: none;
    }
    
#canvas{
    position: block;
    width:600px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
}
nav{
    position: relative;
    left: 1200px;
}


#homestead{
   display: block;
     width: 200px;
    height: 200px;
    margin-right: auto;
    margin-left: auto; 

}
    


#ol{
    display: block;
    position: relative;
    width: 600px;
    margin: 0px auto;
    padding: 10px;
   
}

ol{
    margin: 0px;
    padding: 10px;
    
}
h1{
    display: block;
    width: 400px;
  
   margin-right: auto;
   margin-left: auto; 
}

h2{
    margin: 0px;
    padding: 10px;
}

ul{
   padding: 20px;
   
}

button{
    display: inline;
    position: relative;
}

a{
    text-decoration: none;
    color: black;
    background-color: none;
}

button:hover{
    background-color: yellow;
}

#begin{
    font-size:20px;
    color: gray;
    height:40px;
    width: 70px;
    display: block;
    position: relative;
    margin: 0px auto;
    border-radius: 10px;
    background-color: none;
    
}

#begin:hover{
    background-color: yellow;
}

.grow:hover{
   -webkit-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);

}


