*{
    font-family: 'Raleway', sans-serif;
    /* background-color: lightslategray; */
}


img {
    width: 10%;
    height: 10%;
    margin: 65px;
}


canvas{
        display: none;
    }
    
#canvas{
    position: block;
    width:600px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
}
nav{
    /* display: inline; */
    position: relative;
    left: 1200px;
}


#homestead{
   display: block;
     width: 200px;
    height: 200px;
    margin-right: auto;
    margin-left: auto; 

}
    


#ol{
    /* background-color:lightcyan; */
    display: block;
    position: relative;
    width: 600px;
    margin: 0px auto;
    padding: 10px;
   
}

ol{
    /* background-color:lightcyan; */
    margin: 0px;
    padding: 10px;
    
}
h1{
    display: block;
    width: 400px;
  
   margin-right: auto;
   margin-left: auto; 
}

h2{
    margin: 0px;
    padding: 10px;
}

ul{
   padding: 20px;
   
}

button{
    display: inline;
    position: relative;
}

a{
    text-decoration: none;
    color: black;
}




